<div class="text-center form-styles">
  <h1>New Obligation</h1>
  <p>Who will join the fight and help in battle!</p>
</div>
<div class="container form-styles">
  <%= simple_form_for [@character, @obligation] do |f| %>
    <%= f.association :character %>
    <%= f.association :battle %>
    <%= f.submit class: 'btn btn-primary mt-3' %>
  <% end %>
</div>
