<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/billcookie"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/billcookie"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/billcookiez"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/bill--cook/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Follow us on social media!
  </div>
</div>
