<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://preview.redd.it/vamnszp5g1d21.jpg?auto=webp&amp;s=27571716fa09885563535c8b0262ed22784413e0);">
  <div class="container">
    <h1>Super Battle Knight</h1>
    <h3><span data-controller="typed-js"></span></h3>
  </div>
</div>
<div class="container">
<div class="d-flex justify-content-between">
  <%= link_to characters_path do %>
    <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/featured/?movie)">
      Characters
    </div>
  <% end %>
  <%= link_to characters_path do %>
    <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/featured/?movie)">

    </div>
  <% end %>
  <%= link_to battles_path do %>
    <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/featured/?movie)">
      Battles
    </div>
  <% end %>
</div>
</div>
