<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://preview.redd.it/vamnszp5g1d21.jpg?auto=webp&amp;s=27571716fa09885563535c8b0262ed22784413e0);">
  <div class="container">
    <h1>Super Battle Knight</h1>
    <h3><span data-controller="typed-js"></span></h3>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-around">
    <%= link_to characters_path do %>
      <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdna.artstation.com/p/assets/images/images/009/255/062/large/woong-bae-byun-knight.jpg?1517954885)">
        Characters
      </div>
    <% end %>
    <%= link_to battles_path do %>
      <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/medieval-battle-scene-with-cavalry-and-infantry-silhouettes-of-as-picture-id924589584?k=20&amp;m=924589584&amp;s=612x612&amp;w=0&amp;h=qIly_DWt5LUzHBaoOgOaVPnqQx9jh9C3VszDw6bReEQ=)">
        Battles
      </div>
    <% end %>
  </div>
</div>
