<div class="banner banner-alt" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://cdn.shopify.com/s/files/1/1551/9675/articles/Ancient_Roman_Bust_Sculpture-for_blog.jpg?v=1506020550);">
  <div class="container">
    <h1>Characters</h1>
    <h3>Add your favourite to the list!</h3>
    <%= link_to "MAKE CHARACTER", new_character_path, class: 'btn btn-primary mt-3'%>
  </div>
</div>


<div class="container">
  <div class="cards">
    <% @characters.each do |character| %>
      <%= link_to character_path(character) do %>
        <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= character.photo.attached? ? cl_image_path(character.photo.key,crop: :thumb,gravity: :face) : 'http://source.unsplash.com/featured/?warrior' %>)">
          <%= character.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
