<div class="banner banner-alt" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579803815615-1203fb5a2e9d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8bW92aWV8fHx8fHwxNjYwMjgzMTg2&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);">
  <div class="container">
    <h1>Characters</h1>
    <h3>Add your favourite to the list!</h3>
    <%= link_to "MAKE CHARACTER", new_character_path, class: 'btn btn-primary mt-3'%>
  </div>
</div>


<div class="container">
  <div class="cards">
    <% @characters.each do |character| %>
      <%= link_to character_path(character) do %>
        <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= character.photo.attached? ? cl_image_path(character.photo.key,crop: :thumb,gravity: :face) : 'http://source.unsplash.com/featured/?warrior' %>)">
          <%= character.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
