<div class="banner banner-alt" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.aiatucson.arizona.edu/sites/aiatucson.arizona.edu/files/Alexander%20Mosaic.jpg);">
  <div class="container">
    <h1>Battles</h1>
    <h3>We must all do battle someday!</h3>
    <%= link_to "MAKE BATTLE", new_battle_path, class: 'btn btn-danger mt-3'%>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @battles.each do |battle| %>
      <%= link_to battle_path(battle) do %>
        <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= battle.photo.attached? ? cl_image_path(battle.photo.key,crop: :thumb,gravity: :face) : 'http://source.unsplash.com/featured/?battle' %>)">
          <%= battle.title %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
