.navbar-lewagon {
  justify-content: space-between;
  background: rgb(45, 45, 45);
  position: sticky;
  margin: 0 auto;
  color: rgb(245, 245, 245);
  i {
    color: rgb(245, 245, 245);
  }

  li {
    color: white;
  }
  a {
    color: white;
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
